<form action="answer" method="get" id="form">
  <div class="mb-3">
    <label for="answer" class="form-label mb-3" id="label">Type a question for your coach</label>
    <input type="text" name="question" class="form-control mb-3">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
